asm-lsp
gitui
tmux/.config/tmux/plugins/*
go
matplotlib
Electron/
Kitware/
Postman/
Thunar/
btop/
dconf/
discord/
epiphany/
evolution/
gnome-session/
go/
goa-1.0/
gtk-3.0/
gtk-4.0/
htop/
ibus/
lazygit/
libreoffice/
menus/
mpv/
nautilus/
neofetch/
nvim
pulse/
spotify/
systemd/
totem/
vlc/
xfce4/
yay/
yelp/
background
baloofilerc
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
