@import url("/home/rish/.config/waybar/custom-colors.css");

* {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  font-family: "GeistMono Nerd Font", "Fira Code Nerd Font";
  font-size: 14px;
  font-weight: 800;
  min-height: 0;
}

tooltip {
  background: black;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

window#waybar {
  background: transparent;
  color: white;
  border-radius: 50px;
}

#disk,
#window,
#workspaces,
#mpris,
#memory,
#network,
#battery,
#backlight,
#pulseaudio,
#clock,
#idle_inhibitor,
#tray {
  padding: 3px;
  margin-right: 3px;
  color: white;
  background: #111;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  border: 2px solid #444;
}

#custom-spotify {
  padding: 0 10 0 10px;
}

.modules-right {
}

#workspaces,
#window {
  color: white;
  background: black;
  border-radius: 20px;
  padding: 0 10;
}

#workspaces button {
  color: white;
}

#window {
  background: black;
  color: white;
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
}

#custom-notification {
  background-color: black;
  padding: 0 15px;
  border-radius: 40px;
  font-size: 19px;
  /* background-color: #444444; */
  background-color: #333;
  padding-right: 9px;
  font-weight: 600;
}

#custom-spotify {
  border-color: limegreen;
  border-style: solid;
  border-width: 1px;
  color: lightgreen;
  border-radius: 20px;
  background-color: #111111;
  margin: 0 5px;
}
