* {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  font-family: "GeistMono Nerd Font", "Fira Code Nerd Font";
  font-size: 13px;
  font-weight: 800;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
  border-radius: 50px;
}

#disk,
#window,
#workspaces,
#mpris,
#memory,
#network,
#battery,
#backlight,
#pulseaudio,
#clock,
#idle_inhibitor,
#tray {
  padding: 3px;
  margin-right: 3px;
  color: white;
  background: #111;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 16px;
  border: 2px solid #444;
}

#tray {
  padding: 0 15px;
}

#custom-spotify {
  padding: 0 10 0 10px;
}

#workspaces,
#window {
  color: white;
  background: black;
  border-radius: 20px;
  padding: 0 10;
}

#workspaces button {
  color: white;
}

#window {
  background: black;
  color: white;
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

#custom-notification {
  background-color: #222;
  padding: 0 50px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #456;
}

#custom-spotify {
  border-color: limegreen;
  border-style: solid;
  border-width: 1px;
  color: lightgreen;
  border-radius: 20px;
  background-color: #111111;
  margin: 0 5px;
}

tooltip {
  background: black;
  color: #fff;
  border-radius: 20px;
  padding: 6px 25px;
  font-size: 13px;
  border: 1px solid #999;
}

#workspaces button.active {
  background: #666;
  border-radius: 20px;
  border: 1px solid #999;
  padding: 0 15px;
  padding-right: 10px;
  margin: 5px;
}

#custom-spotifyapp,
#custom-terminal,
#custom-firefox,
#custom-files,
#custom-discord,
#custom-stremio,
#custom-cpufreq,
#custom-powermanager {
  padding: 2 15px;
  font-size: 18px;
  border-radius: 20px;
  padding-left: 12px;
}

/*   border-top-left-radius: 20px; */
/*   border-bottom-left-radius: 20px; */
/* } */

#custom-terminal:hover,
#custom-firefox:hover,
#custom-files:hover,
#custom-spotifyapp:hover,
#custom-discord:hover,
#custom-stremio:hover,
#custom-cpufreq:hover,
#custom-powermanager:hover {
  color: white;
}
